// ================================================================
// CSS Custom Property
// ================================================================
:root {
  --heightTitle: 170px;
}
// ================================================================
// Sass Variable
// ================================================================
$widthBezel: 15px;
$widthLimitOuter: 1000px + $widthBezel * 2;
$heightTitle: var(--heightTitle);
$breakpoint: 768px;
// ================================================================
// Sass Mixin
// ================================================================
@mixin mq {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}
@mixin fontFamily {
  font-family: sans-serif;
  // font-family: "Noto Serif", serif;
  // font-family: "Noto Serif JP", serif;
}
// ================================================================
// Media Query Value
// ================================================================
@include mq {
  :root {
    --heightTitle: 100px;
  }
}
// ================================================================
// base
// ================================================================
html {
  font-size: 62.5%;
}
body {
  @include fontFamily;
}
a {
  text-decoration: none;
}
// ================================================================
// layout
// ================================================================
.ly_pageWrapper {
  // width: 100%;
  max-width: $widthLimitOuter;
  margin-right: auto;
  margin-left: auto;
  padding-right: $widthBezel;
  padding-left: $widthBezel;
}
.ly_contentWrapper {
  display: flex;
  @include mq {
    flex-direction: column;
  }
}
// ================================================================
// module
// ================================================================
.el_pageTitle {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 60px;
  @include mq {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}
.bl_spScreenShot {
  max-height: calc(100vh - #{$heightTitle});
  max-width: 40%;
  @include mq {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.bl_spCarousel {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  &_img {
    max-height: calc(100vh - #{$heightTitle});
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.bl_contentBody {
  &_txt {
    p {
      font-size: 1.6rem;
    }
  }
  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq {
      flex-direction: column;
    }
  }
}
.el_googleBtn {
  img {
    width: 200px;
  }
  @include mq {
    margin-bottom: 30px;
  }
}
.el_appleBtn {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 54px;
}
// ================================================================
// helper
// ================================================================
.hp_mb60 {
  margin-bottom: 60px !important;
}
.hp_ml30 {
  margin-left: 30px !important;
}
// ================================================================
// Program
// ================================================================
