// ================================================================
// CSS Custom Property
// ================================================================

// ================================================================
// Sass Variable
// ================================================================
$widthBezel: 15px;
$widthLimitOuter: 1000px + $widthBezel * 2;
$breakpoint: 768px;
// ================================================================
// Sass Mixin
// ================================================================
@mixin mq {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}
@mixin fontFamily {
  font-family: "Noto Serif", serif;
  font-family: "Noto Serif JP", serif;
}
// ================================================================
// Media Query Value
// ================================================================

// ================================================================
// base
// ================================================================
html {
  font-size: 62.5%;
}
body {
  @include fontFamily;
}
a {
  text-decoration: none;
}
// ================================================================
// layout
// ================================================================
.ly_pageWrapper {
  width: 100%;
  max-width: $widthLimitOuter;
  margin-right: auto;
  margin-left: auto;
  padding-right: $widthBezel;
  padding-left: $widthBezel;
}
.ly_contentWrapper {
  display: flex;
  @include mq {
    flex-direction: column;
  }
}
.ly_contentBody {
  margin-left: 80px;
  @include mq {
    margin-left: 0;
  }
}
// ================================================================
// module
// ================================================================
.el_pageTitle {
  font-size: 5rem;
  text-align: center;
  @include mq {
    font-size: 3rem;
  }
}
.bl_spScreenShot {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  height: 600px;
  width: 334px;
  @include mq {
    height: 540px;
    width: 300px;
    &_wrapper {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
.bl_bgiCarousel {
  position: absolute;
  top: 31px;
  left: 20px;
  height: 483px;
  width: 296px;
  margin: 0;
  padding: 0;
  @include mq {
    height: 430px;
    width: 263px;
  }
  &li {
    height: 483px;
    width: 296px;
    @include mq {
      height: 430px;
      width: 263px;
    }
  }
  &_img {
    border-radius: 3px;
    height: 483px;
    width: 296px;
    object-fit: cover;
    @include mq {
      height: 430px;
      width: 263px;
    }
  }
}
.bl_btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.el_googleBtn img {
  width: 200px;
}
.el_appleBtn img {
  width: 148px;
}
.bl_contentBody_text p {
  font-size: 1.7rem;
}
// ================================================================
// helper
// ================================================================
.hp_mb60 {
  margin-bottom: 60px !important;
}
.hp_ml30 {
  margin-left: 30px !important;
}
// ================================================================
// Program
// ================================================================